body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1025px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1025px;
}
#u65 {
  position:absolute;
  left:2px;
  top:504px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u66 {
  position:absolute;
  left:41px;
  top:1170px;
  width:290px;
  height:54px;
  font-family:'方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:88px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:88px;
}
#u69 {
  position:absolute;
  left:2px;
  top:36px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u70 {
  position:absolute;
  left:41px;
  top:24px;
  width:50px;
  height:40px;
}
#u70_img.mouseOver {
}
#u70.mouseOver {
}
#u71 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:77px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u72 {
  position:absolute;
  left:867px;
  top:715px;
  width:186px;
  height:77px;
  font-family:'方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u72_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:77px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u72.mouseOver {
}
#u73 {
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u74 {
  position:absolute;
  left:885px;
  top:345px;
  width:150px;
  height:83px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u76 {
  position:absolute;
  left:41px;
  top:1087px;
  width:50px;
  height:39px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u78 {
  position:absolute;
  left:41px;
  top:1286px;
  width:140px;
  height:40px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u79 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u80 {
  position:absolute;
  left:225px;
  top:1286px;
  width:140px;
  height:40px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u81 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:41px;
  top:1403px;
  width:29px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
